h1 {
  text-align: center;
  color: blue;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}

.p20 {
  padding: 20px;
}

/* INPUT */
input:focus {
  height: 100px;
  font-size: 30px;
  background-color: lightgrey;
  color: white;
}

/* FLEX*/
header, ul, footer {
  display: flex;
} /* se acomodo con fexbox el header y footer */
.producto {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.logo {
  height: 100px;
}

iframe {
  border-radius: 20px;
  margin: 20px;
  align-items: center;
}

/* BOX MODEL*/
li {
  padding: 20px;
}

.mt20 {
  margin-top: 20px;
}

.p20 {
  padding: 20px;
}

/* GENERAL */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 22px;
}

h1 {
  text-align: center;
}

body {
  margin: 0;
}

img {
  border-radius: 20px;
  width: 100%;
}

header {
  position: sticky;
  top: 0px;
  justify-content: space-between;
}

.genio {
  background-color: beige;
  border: 3px solid beige;
}

.parrafo-2 {
  color: black;
  background-color: rgb(148, 209, 87);
  border: 3px solid beige;
  text-align: center;
}

.elemento {
  width: 96%;
  height: 20px;
  border-radius: 20px;
}

.grid {
  display: grid; /*propiedad que nos habilita el uso de grillas*/
}

.grid {
  /* 1 columna y 3 filas */
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
}

/* cada etiqueta a que parte representa */
header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.gridMainProyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

/* MOBILE */
@media (max-width: 768px) {
  header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    display: flex;
    padding: 0;
    flex-direction: column;
  }
  a {
    color: black;
    font-size: 22px;
    padding: 5px;
    margin: 5px;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  p {
    font-size: 22px;
    text-align: center;
  }
  iframe {
    border-radius: 20px;
    width: 90%;
  }
  .colorf {
    background-color: rgb(148, 209, 87);
    font-size: 14px;
    margin: 30px;
    border-radius: 20px;
    width: 200px;
  }
}
/* DESKTOP */
@media (min-width: 1024px) {
  /* GRID INDEX */
  /* primero grillas,flexbox y box modeling */
  .grid {
    display: grid; /*propiedad que nos habilita el uso de grillas*/
  }
  .grid {
    /* 1 columna y 3 filas */
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  /* cada etiqueta a que parte representa */
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  /* LA PSEUDOCLASES */
  a {
    text-decoration: none;
    color: blue;
    transition: 1s all;
  }
  a:hover {
    color: chartreuse;
    font-size: 20px;
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
  }
  .colorform {
    background-color: rgb(148, 209, 87);
    border-radius: 20px;
    margin: 20px;
    width: 200px;
  }
}
ul, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gridMain {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, auto);
}

.boton, .boton-error {
  color: chartreuse;
  font-size: 20px;
  background-color: blue;
  padding: 10px;
  border-radius: 20px;
}

.boton-error {
  background-color: rgb(94, 89, 89);
}

.boton-primario {
  color: chartreuse;
  font-size: 20px;
  background-color: blue;
  padding: 10px;
  border-radius: 20px;
}

/*# sourceMappingURL=style.css.map */
