/* DESKTOP */

@media (min-width:1024px){
    /* GRID INDEX */
/* primero grillas,flexbox y box modeling */
.grid{
    display:grid; /*propiedad que nos habilita el uso de grillas*/
}
.grid{
    /* 1 columna y 3 filas */
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns:100%;
    grid-template-rows:auto auto auto;
}
/* cada etiqueta a que parte representa */
header{grid-area: header;}
main{grid-area: main;}

/* LA PSEUDOCLASES */
a{text-decoration: none;color:blue;transition:1s all;}
a:hover{
    color:chartreuse;
    font-size:20px;
    background-color:blue;
    padding:10px;
    border-radius: 20px;
} 
.colorform{
    background-color:rgb(148, 209, 87);
    border-radius:20px;
    margin:20px;
    width: 200px;
}

}
