.boton{
    color:chartreuse;
    font-size:20px;
    background-color:blue;
    padding:10px;
    border-radius: 20px;
}

@each $contexto in error {
    .boton-#{$contexto}{
        @extend .boton;
    }
}

.boton-error{
    background-color:darkslategray;
}
.boton-primario{
    color:chartreuse;
    font-size:20px;
    background-color:blue;
    padding:10px;
    border-radius: 20px;
}