/* MOBILE */

@media (max-width:768px){
    header,main,footer{display:flex;flex-direction:column;align-items: center;}
    ul{display:block;padding:0;}
    a{color:black;display:block;flex-direction:column;align-items: center;}
    nav{display:block;flex-direction: column;}
    p{font-size:22px;text-align: center;}
    iframe {
        border-radius: 20px;
        width: 90%;
      }
      .colorf{
        background-color:rgb(148, 209, 87);
        font-size:14px;
        margin:30px; 
        border-radius: 20px;
        width: 200px;
    }
    

}